<!DOCTYPE html>
<html lang="zh-cmn-Hant">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="中文三三chrome">
        <meta name="keywords" content="好kk, hhh, holoe">
        <meta name="author" content="王建民">
    
        <title>三名日月</title>
    </head>
    <body>
          {{ page.title }}
          {{ page.date }}
          {{ content }}
    </body>
</html>
